* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    }
    
body{
    background-size:cover;
    background-image: url(Assets/background_image.jpg);
    background-size: 210lvh;
    font-family: inherit;
    }

.nav_bar{
    color:white ;
    background-color:black;
    margin: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:absolute top;
    font-family: inherit; 
}


.dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    size: 10rem;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit; 
    margin: 0; }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color:black
  }
  
  .dropdown-content {
    display: none;
    position: relative;
    background-color:white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

.logo{
    width: 160px;
    height: 100px;
    display: flex;
    margin: 2rem;
    animation-name: animate;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    
}

.logo:hover{
    width: 10%;
    height: 10%;
    animation: change_logo;
}
.title{
    font-size: 10vh;
    margin: 2rem;
    align-content: center;
    animation: bounceIn 2s;
    animation-delay: 2ms;
    animation-iteration-count: 1;
}

.myLinks{
    display: none;
    
  }
.icon{
    color: white;
    size: 10vh;
    font-size: 95px;
}

.icon:hover{
    .myLinks{display: flex;}

}


#image_1{
    margin-top: 1cm;
    margin-left: 2cm;
    width: 280px;
    height: 388px;
    flex-shrink: -5;
    animation: FadeIn;
    animation-duration: 10s;
}

#image_2{
    margin-top: 1cm;
    margin-left: 2cm;
    width: 417px;
    height: 626;
}

#image_2:hover{
  border: 1px solid #ddd;
  border-radius: 5px;
  animation: cubic-bezier(0.19, 1, 0.22, 1);
}

.two{
    color:white ;
    text-align: start;
    margin-left: 2cm;
    font-weight:900v;
    margin-top: 2cm;
    font-size: 7vh;
    text-decoration: underline;
    animation-name:bounceIn;
    animation-iteration-count: 1;
    animation-duration: 4s;
    text-wrap:pretty;
    
}

#three{
    color:white ;
    text-align: start;
    margin-left: 2cm;
    font-weight:900v;
    margin-top: 1cm;
    font-size: 5vh;
    font-weight: 500;
    line-height: 1.5;
    margin-right: 1cm;
    animation-name: animate;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}
#hyperlink_1{
    color: #82B7DC;
    font-style: italic;
}



.fa { 
    padding: 20px; 
    font-size: 100px; 
    width: 60px; 
    text-decoration: none; 
    margin: 5px 80px; 
    margin-left: 7cm;
    line-height: 2;
    align-items: center;
    font-size: 6vh;
} 

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
    
  }
  100% {
    transform: scale(1);
  }
}

@keyframes animate {
    
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }

}

@keyframes FadeIn {
  from{
    opacity: 0%;
  }
  to{
    opacity: 100%;
  }
  
}


